*,
*::before,
*::after {
  box-sizing: border-box;
}
.Spiderman {
  background-image: url('spiderman.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  opacity: 0;
  animation: showCalculator 1s linear 1s forwards;
}

@keyframes showCalculator {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.calculator-gridSpiderman {
  display: grid;
  border-radius: 5px;
  box-shadow: 5px  5px 5px 5px solid black;
  margin-top: 7rem;
  justify-content: center;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
  opacity: 0;
  animation: showCalculator 2s linear 2s forwards;
}






body {
  margin: 0;
  background: linear-gradient(to right, #f0131e, #002e5f);
  
}



.calculator-gridSpiderman {
  display: grid;
  margin-top: 7rem;
  justify-content: center;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
  border-radius: 2px;
 
 
}

.calculator-gridSpiderman > button {
  cursor: pointer;
  font-size: 2rem;
  border-radius: 2px;
  border: 1px solid white;
  outline: none;
  background-color: rgb(248, 125, 125);
  color: #002e5f; /* Spiderman blue text color */
  padding: 0.5rem; /* Adjust padding for better appearance */
}

.calculator-gridSpiderman > button:hover,
.calculator-gridSpiderman > button:focus {
  background-color: rgba(79, 62, 179, 0.421);
  color: aliceblue;
}


.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .75);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: .75rem;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}